{% extends '_layouts/base.html' %}
{% load static %}

<!-- Login Page Content -->
{% block content %}
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<!-- Картинка Логіну -->
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="Login Image">
					</div>
				</div>
				<!-- Форма Логіну -->
				<!-- В любий формі ЗАВЖДИ Використовуємо csrf_token -->
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Вхід до системи</h3>
						<form class="row login_form" action="/" method="post" id="contactForm">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="user_name" name="user_name"
									   placeholder="Ваш логін" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Ваш Логін'" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="user_pass" name="user_pass"
									   placeholder="Ваш Пароль" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Ваш Пароль'" required>
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="keep_logged" name="keep_logged">
									<label for="keep_logged">Залишатись в системі</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Вхід</button>
								<a href="/forgot_password">Забули Пароль?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
<!-- Login Page Content -->