{% extends '_layouts/base_pr.html' %}
{% load static %}

<!-- Password Reset Done -->
{% block content %}
<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<!-- Інформація  -->
				<div class="col-lg-6" style="margin: auto;">
					<div class="login_form_inner">
						<h3 style="color: darkgreen; text-decoration: underline;">Пароль успішно замінено!</h3>
						<form class="row login_form" action="/" method="get" id="contactForm">
							<div class="col-md-12 form-group">
								<p>
									Ваш пароль успішно оновлений.
									Будь ласка, перейдить на головну сторінку та спробуйте війти до системи ще раз.
								</p>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">На Головну сторінку</button>
								<br />
								<br />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
<!-- Password Reset Done -->
