{% extends '_layouts/base_pr.html' %}
{% load static %}

<!-- Password Reset Done -->
{% block content %}
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<!-- Картинка Логіну -->
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/reset-pass.jpg' %}" alt="Login Image">
					</div>
				</div>

				<!-- Форма Логіну -->
				<!-- В любий формі ЗАВЖДИ Використовуємо csrf_token -->
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Вхід до системи</h3>
						<form class="row login_form" method="post" id="contactForm">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="id_new_password1" name="new_password1"
									   placeholder="Новий пароль" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Новий пароль'" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="id_new_password2" name="new_password2"
									   placeholder="Підтвердження паролю" onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Підтвердженя паролю'" required>
							</div>
							<div class="col-md-12 form-group">
								<br />
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Змінити пароль</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
<!-- Password Reset Done -->