<!-- Start Banner Area -->
<!-- Використовуються хлібні-крихти, також задані відповідні розділи для переходу -->
<section class="banner-area organic-breadcrumb">
	<div class="container" style="height: 60px;">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h4>{{ page_title }}</h4>
				<nav class="d-flex align-items-center">
					<a href="/">Вхід до системи</a>
				</nav>
			</div>
		</div>
	</div>
</section>

<!-- ПЕРЕВИЗНАЧАЄМО ДЕЯКІ СТИЛІ -->
<style>
.breadcrumb-banner {
  padding: 0 0 0 0; }

  .breadcrumb-banner h4 {
    font-weight: 250;
    text-align: right;
    text-decoration: underline;
    color: #fff; }

  .breadcrumb-banner nav a {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 200; }

	.breadcrumb-banner nav a span {
      display: inline-block;
      margin: 0 15px; }
</style>
<!-- End Banner Area -->