<!-- start footer Area -->
<footer class="footer-area section_gap">
	<div class="container">
		<div class="row justify-content-md-center">
			<!-- ABOUT US SECTION -->
			<div class="col-lg-4 col-md-2 col-sm-6">
				<div class="single-footer-widget">
					<h6>Про "IT WareHouse":</h6>
					<p>
						"IT WareHouse" - Веб-додаток для зручного контролю та керування обладнанням компанії.
					</p>
				</div>
			</div>
            <!-- CONTACT US SECTION -->
			<div class="col-lg-4 col-md-2 col-sm-6">
				<div class="single-footer-widget">
					<h6>Зв'язатися з нами:</h6>
					<p>У разі будь якого питання Ви можете зв'язатися з нами:</p>
					<div class="footer-social d-flex align-items-center">
						<p>
							<i class="fa fa-phone" style="margin-right: 20px;">:</i>+380 (95) 111 22 33<br />
							<a href="mailto:IT.Warehouse@itwh.ua?subject=Message from Site&body=Message from site"
							   style="color: grey;">
								<i class="fa fa-envelope-o" style="margin-right: 20px;">:</i>
								it.warehouse@itwh.ua
							</a><br />
							<a href="https://t.me" style="color: grey;">
								<i class="fa fa-telegram" style="margin-right: 20px;">:</i>
								IT-WareHouse Support
							</a><br />
						</p>
					</div>
				</div>
			</div>
		</div>
        <!-- COPYRIGHT SECTION -->
		<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			<p class="footer-text m-0">
                Copyright &copy;2023 Усі права захищено | Зроблено в Україні з використанням <a href="https://colorlib.com" target="_blank">Colorlib</a> шаблону.
            </p>
		</div>
	</div>
</footer>
<!-- End footer Area -->